<div id="header" class="row">
  <div class="col-md-1" id="home">Home</div>
  <div class="col-md-3" id="search"><input id="searchbar" type="search" placeholder="search"></input></div>
  <div class="col-md-2" id="new_contact"><a href="#">New Contact</a></div>
</div>
