<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="container">
      <%- include('header') %>
      <div class="row contact-list">
        <h1>Contacts</h1>
        <div class="col-md-12">
          <% console.log(contacts[0]) %>
        <% contacts.forEach(function(contact){ %>
          <div>
            <div id="individual_contact"><a href="#"><%= contact.name %><a></div>
            <a id="delete" href="#">X</a>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </body>
</html>
